

.page-teste{
    height:100vh;
    background: $gradient-meets;

    .chamada-teste{
        background: $gradient-black;
        border-radius: 10px 0 0 10px;
        img{
            width: 30%;
        }
    }

    .formulario-teste{
        background: $white;
        border-radius: 0 10px 10px 0;
    }

}

.sucesso{
    img{
        width: 5em;
        height: 5em;
        margin-bottom: 1em;
    }
}